.card h3 {
  color:turquoise;
  margin: 1em;
}
.header {
  margin-top: 0;
  margin-bottom: 1em;
  width: 15em;
  font-weight: bold;
}

.description {
  margin: 1em;
}
.card {
  width: 22em;
  margin: 1em;
  padding: 0.5em;
  /* background-color: purple; */
}

