/* title of playlist on the song "Get Hype"*/
.card h3 {
  color: aqua;
  margin: 1em;
}
/* gives title of playlist on playlist details more room */
.header {
  margin-top: 0;
  margin-bottom: 1em;
  width: 35em;
  font-weight: bold;
}
/* space between artist name and video on song card */
.description {
  margin: 1em;
}
/* all of my cards, except the video */
.card {
  width: 28em;
  /* margin: auto; */
  padding: 75em;
}

/* text in create new song button */
.card button {
  width: fit-content;
  color: aqua;
}
/* div.card{
  flex-direction: row;
} */
