.card h3 {
  color: turquoise;
  margin: 1em;
}
.header {
  margin-top: 0;
  margin-bottom: 1em;
  width: 15em;
  font-weight: bold;
}

.description {
  margin: 1em;
}
.card {
  width: 20em;
  margin: auto;
  padding: 0.5em;
}
.card button{
  width: fit-content;
}
div.card{
  flex-direction: row;
}

