small {
    font-size: 75%;
  }
  
  header {
    background-color:darkorchid;
    border: 3px;
  }
  
  .site-title {
    color:paleturquoise;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: darkorchid;
    box-sizing: border-box;
    background-color:aqua;
    list-style-type: none;
  }
  
  nav .container a {
    color:darkorchid;
  }
  
  nav .container a:hover {
    color: darkslategrey;
  }